<div class="home">
    <div class="page_title active">
        Dashboard
    </div>
    <div class="breadcrumb"><span>Satta Matka</span> / <span>Admin</span> / <span><a >{{title}}</a></span></div>
    <div class="inner_wrap">
        <div class="row">
            <div class="col_3">
                <div class="inner_body">
                    <h2 class="route_link" routerLink="../regular-bazaar">Regular Bazaar <mat-icon>trending_flat</mat-icon></h2>
                    <div class="details">
                        <span class="numbers">20</span> <span> Bazaar</span>
                    </div>
                    <img src="/assets/img/regularbazaar.png" alt="">

                    <div class="last_entry">
                        <span class="small_text">last Entry :</span>
                        <table class="cus_table table_no_border">
                            <tbody>
                                <tr>
                                    <td class="bold">Mina Bazaar</td>
                                    <td class="d_flex">123- <span>61</span> -542</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            
            <div class="col_3">
                <div class="inner_body">
                    <h2 class="route_link" routerLink="../starline-bazaar">Starline Bazaar <mat-icon>trending_flat</mat-icon></h2>

                    <div class="details">
                        <span class="numbers">11</span> <span> Bazaar</span>
                    </div>
                    <img src="/assets/img/regularbazaar.png" alt="">

                    <div class="last_entry">
                        <span class="small_text">last Entry :</span>
                        <table class="cus_table table_no_border">
                            <tbody>
                                <tr>
                                    <td class="bold">Mina Bazaar</td>
                                    <td class="d_flex">123- <span>61</span> -542</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col_3">
                <div class="inner_body">
                    <h2 class="route_link" routerLink="../king-bazaar">King Bazaar <mat-icon>trending_flat</mat-icon></h2>
                    <div class="details">
                        <span class="numbers">38</span> <span> Bazaar</span>
                    </div>
                    <img src="/assets/img/regularbazaar.png" alt="">

                    <div class="last_entry">
                        <span class="small_text">last Entry :</span>
                        <table class="cus_table table_no_border">
                            <tbody>
                                <tr>
                                    <td class="bold">Mina Bazaar</td>
                                    <td class="d_flex">123- <span>61</span> -542</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!-- <div class="col_3">
                <div class="inner_body">
                    <h2>Regular Bazaar</h2>
                    <div class="details">
                        <span class="numbers">20</span> <span> Bazaar</span>
                    </div>
                    <img src="/assets/img/regularbazaar.png" alt="">

                </div>
            </div>

             -->

        </div>
    </div>
</div>