<div class="login">
    <div class="bg_image">
        <div class="form_body">
            <div class="inner_form">
                <h1 class="heading text_center">Login</h1>
                <div class="sub_heading text_center">Please login here to access backend !</div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                    <div class="form_group">
                        <label>Username</label>
                        <div class="inner_group">
                            <mat-icon color="primary" fontIcon="person"></mat-icon>
                            <input type="text" placeholder="Enter your email"  formControlName="email">
                        </div>
                    </div>
                    <div class="form_group">
                        <label>Password </label>
                        <div class="inner_group">
                            <mat-icon color="primary" fontIcon="lock"></mat-icon>
                            <input type="password"  placeholder="Enter your password" formControlName="password">
                        </div>
                    </div>
                    <div class="form_group">
                        <button type="submit" class="primary--button w_100">Submit</button>
                    </div>
                    @if(loaded){
                    <div class="mat_progress">
                        <mat-spinner [diameter]="40" color="accent"></mat-spinner>
                    </div>
                    }
                </form>
                <p class="text_center">I don't have an account? <a routerLink="/sign-up">Sign-Up</a></p>
                <p class="text_center">I forget the password? <a routerLink="/forget-password">Forget</a></p>
            </div>
        </div>
    </div>
</div>