<div class="dashboard">
    <div class="inner_dashboard">
        <aside>
            <div class="side_nav">
                <div class="side_menu">
                    <nav>
                        <ul>
                            <li routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                true}" class="menu_link"><mat-icon>widgets</mat-icon><span class="menu_item">Dashboard</span></li>
                            <li class="menu_link"><mat-icon>widgets</mat-icon><span class="menu_item"></span></li>
                            <li class="menu_link"><mat-icon>widgets</mat-icon><span class="menu_item"></span></li>
                            <li class="menu_link"><mat-icon>widgets</mat-icon><span class="menu_item"></span></li>
                            <li class="menu_link"><mat-icon>widgets</mat-icon><span class="menu_item"></span></li>
                            <li class="menu_link"><mat-icon>widgets</mat-icon><span class="menu_item"></span></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </aside>
        <div class="main_body">
            <header>header</header>
            <div class="dashboard_body">
                <!-- <router-outlet></router-outlet> -->
                
            </div>
            <footer>footer</footer>
        </div>
    </div>
</div>